@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #353935;
}

.area {
    padding: 20px 0px;
    height: 200px;
}

p {
    font-family: 'Expletus Sans', 'cursive';
    font-size: 12px;
    font-weight: 500;
    color: honeydew;
}

.icons {
    padding: 20px 0
}

.icons a {
    padding: 0px 20px;
}