// .page {
//     height: 100vh;
// }

img {
    width: 100%;
}
.masonry {
    column-count: 4;
    column-gap: 16px;
}

.masonry .imgItem { 
    display: inline-block;
    margin-bottom: 16px;
    width: 100%;
}
