<nav class="">
    <div class="d-flex justify-content-around">
        <a href="#"><img src="../../../assets/images/v2-white.png" alt=""></a>
        <ul class="d-flex">
            <li class="d-inline"><a routerLink="/home">home.</a></li>
            <li class="d-inline"><a routerLink="/about-me">about me.</a></li>
            <li class="d-inline"><a routerLink="/art">art.</a></li>
            <li class="d-inline"><a routerLink="/blog">blog.</a></li>
            <li class="d-inline"><a routerLink="/contact-me">contact me.</a></li>
        </ul>
        <a href="#"><img src="#" alt=""> Social Link</a>
    </div>
</nav>