/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";


html, body {
  height: 100%;
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Expletus Sans", "cursive";
}
